


@font-face {
    font-family: 'myPT';
  
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myPTNarrow';
  
    font-weight: normal;
    font-style: normal;

}
*{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
	font-family: "myPT", "trebuchet ms", sans-serif;
	font-size: 15px;
	background: #dfe2e3;
	line-height: 18px;
}
.narrow{
	font-family: "myPTNarrow", "trebuchet ms", sans-serif;
	font-size: 24px;
	line-height: 28px;
}

#foo  {
margin-bottom: 10px;

}

legend {
	color: white;
}

label {
	color: white;
	display: flex;
	flex-direction: column;
}

table {width: 100%; border-collapse: collapse; margin-top: 10px;}
table td {padding: 12px 16px;}
table thead tr {font-weight: bold; border-top: 1px solid #e8e9eb;}
table tr {border-bottom: 1px solid #e8e9eb;}
table tbody tr:hover {background: #e8f6ff;}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Оформление левого меню */
.left_side{
	background: #1d282b;
	width: 300px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 5;
}
.logo_text{
	padding: 20px 10px;
	color:#ffffff;
	font-size: 24px;
	line-height: 30px;
	font-weight: normal;
	font-family: myPTNarrow;
	text-align: center;
}
.logo_text a{
	display: inline-block;
}
.logo_text span{
	color: white;
	font-size: 40px;
	line-height: 24px;
	padding: 0 10px 18px;
	text-align: center;
	display: block;
}
.left_menu{
	margin-top: 30px;
}
.left_menu ul{
	display: block;
	list-style-type: none;
}
.left_menu li{
	display: block;
	height: 30px;
	line-height: 30px;
}
.left_menu li a{
	display: block;
	line-height: 30px;
	font-size: 18px;
	font-family: myPTNarrow;
	color:#ffffff;
	text-decoration: none;
	padding-left: 60px;
}
.left_menu li a:hover{
	background: #343e41;
}
.social_img{
	text-align: center;
}
.social_img a{
	display: inline-block;
	margin: 0 10px;
	width: 30px;
	height: 30px;
	overflow: hidden;
}
.social_img a:hover{
	opacity: 0.7;
}
.tw_icon{
	background: url("../images/social.png") top left no-repeat;
}
.go_icon{
	background: url("../images/social.png") top right no-repeat;
}
.left_swap{
	display: none;
	position: fixed;
	width: 50px;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 6;
	background: url(../images/swipe.png) #1d282b center 20px no-repeat;
}


/* Стили основного блока */

.button {
	margin-top: 10px;
	display: inline-block;
	border: none;
	color: #000;
	text-decoration: none;
	background-color: #F0650D;
	padding: 10px 40px;
	font-size: 20px;
	text-transform: uppercase;

	font-weight: 800;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	cursor: pointer;
}

.wrapper{
	position: relative;
	background: #ffffff;
	min-height: 200%;
	min-width: 400px;
	max-width: 1200px;
	padding-left: 300px;
	padding-right: 0px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.wrapper a{
	color:#576a6f;
}
.wrapper a:hover{
	color:#1d282b;
}
.text_block{
	overflow: hidden;
	color:#4a4a4a;
	font-size: 18px;
	line-height: 24px;
	min-height: 200px;
	background: url("../images/hr.png") left bottom repeat-x;
	padding: 10px 40px 10px;
}
h2{
	color:#4a4a4a;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0px;
	text-transform: none;
	font-family: myPTNarrow;
	padding: 40px 0;
	font-weight: normal;
}
h3{
	color:#4a4a4a;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -1px;
	text-transform: none;
	font-family: myPTNarrow;
	padding: 20px 0;
	font-weight: normal;
}
h4{
	color:#4a4a4a;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 0;
	text-transform: none;
	font-family: myPTNarrow;
	padding: 10px 0;
	font-weight: normal;
}
p{
	margin-bottom: 24px;
}
.cent_img{
	display: block;
	margin: 0 auto 40px;
}
.auto_img{
	display: block;
	max-width: 100%;
	margin: 0 auto 24px;
}

/* Оформление нижних блоков */
.footer{
	clear: both;
	overflow: hidden;
	text-align: center;
	font-size: 0;
	padding: 20px 40px;
}
.footer_block{
	vertical-align: top;
	display: inline-block;
	text-align: left;
	width: 27%;
	padding: 2%;
	font-size: 13px;
}
.footer_block img{
	display: block;
	margin: 10px auto;
	max-width: 100%;
}

address {
	text-align: left;
	color: black;
	font-size: 20px;
}

/* Переопределение стилей в медиазапросах */
@media only screen and (max-width:800px){
 	.left_side{
 		display: none;
	}

	.left_swap{
		display: block;
	}
	.wrapper{
		padding-left: 50px;
	}
}
@media only screen and (max-width:720px){
	.footer_block{
		display: block;
		width: 96%;
	}
}


 @media print { 

 body { 
 	

 }

@page :first { 
	margin: 1cm; 
}

span {
font-size: 36px;
color: #000;
text-align: center;
}

p {
 widows: 4;
 orphans: 3;
}




*:after {
background: transparent;
text-shadow: none;
box-shadow: none;
}

ul {
	display: block;
}

ul li {
	float: left;
	display: block;
		margin-right: 10px;
		margin-top: 10px;
		text-decoration-color: grey;
}

.name {
	margin: 0;
	padding: 0;
	color: #fff;
}

ul li a {
	color: #fff;

}

.crop {
 page-break-before: always;
}

.after {
page-break-after: always;
}

.footer {
 page-break-before: always;
}

.left_side {
	display: flex;
flex-direction: row;
width: 100%;
height: 100px;
align-items: center;
margin-bottom: 200px;
top: 0;

}

.logo {
	display: none;
}

.left_menu {
	
margin-top: 0;
padding: 0;
}

.social_img {
	display: none;
}

a[href^="http"]:not([href*="mospolytech.ru"]):after {
content: " (" attr(href) ")";
}

.wrapper {

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
align-content: center;
height: 100%;


}

.text_block {
width: 100%;

margin-right: 250px;
}

.name span {
	color: white;
}

h2 {
	margin-top: 60px;
}

h3 {
	margin-top: 200px;
}

.footer {
	display: none;
}

}




.birds {
	font-size: 20px;
	color: green;
}

.logo2 {
	margin-left: 30%;
}

.info {
	text-decoration: none;
}

.info:hover {
	text-decoration: underline;
}
